<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-controller="myCtrl as vm">

<input type="text"  ng-model="search.title">
<section ng-repeat="movie in vm.movies | filter : search">
    <h2>{{movie.title}}</h2>
    <h2>{{movie.age}}</h2>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="app/app.module.js"></script>
</body>
</html>