<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="https://angular.io/resources/images/logos/angular2/angular.png">
                <span class="card-title"></span>
            </div>
            <div class="card-content">
                <p>{{$ctrl.saludo}}</p>
            </div>
            <div class="card-action">
                <a href="#">{{$ctrl.nombre}} {{$ctrl.apellido}}</a>
            </div>
        </div>
    </div>
</div>